<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Módosítás</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<th:block th:include="_menu"></th:block>
<div class="container my-5">
    <h3> Cég adatainak szerkesztése</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/companies}" th:object="${company}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="username" class="col-form-label">Felhasználónév</label>
                            <input type="text" th:field="*{userName}" class="form-control"
                                   id="username" placeholder="Felhasználónév" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="EncryptedPassword" class="col-form-label">Jelszó</label>
                            <input type="text" th:field="*{EncryptedPassword}" class="form-control"
                                   id="EncryptedPassword" placeholder="Jelszó" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="comname" class="col-form-label">Cégnév</label>
                            <input type="text" th:field="*{company_name}" class="form-control"
                                   id="comname" placeholder="Cégnév" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="*{email}" class="form-control"
                                   id="email" placeholder="Email" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="regnumber" class="col-form-label">Cégjegyzékszám</label>
                            <input type="text" th:field="*{registrationNumber}" class="form-control"
                                   id="regnumber" placeholder="Cégjegyzékszám" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="phone" class="col-form-label">Telefonszám</label>
                            <input type="text" th:field="*{phone}" class="form-control"
                                   id="phone" placeholder="Telefonszám" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="address" class="col-form-label">Székhely</label>
                            <input type="text" th:field="*{location}" class="form-control"
                                   id="address" placeholder="Székhely" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="intro" class="col-form-label">Rövid leírás</label>
                            <input type="text" th:field="*{introduction}" class="form-control"
                                   id="intro" placeholder="Rövid leírás" />
                        </div>
                        <div class="form-group col-md-5">
                            <label for="company" class="col-form-label">Cég</label>
                            <input type="checkbox" th:field="*{IsCompany}"
                                   id="company"/>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{Id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>