<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="2;url=http://localhost:8080/">
    <!-- deploy-nál ezt átkell írni majd a remote címre --->
    <title>Sikeres</title>
    <style th:inline="css">
        body {text-align: center;}
        p {margin-top: 300px; font-family: 'Kaushan Script', cursive; font-size:4em; color:#5892FF}
    </style>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="_menu"></th:block>

<p> Sikeres törlés!</p>
</body>
</html>