<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<title>Személyes infók</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
h2 {display: inline-block;}
</style>
<body class="w3-light-grey">

<th:block th:include="_menu"></th:block>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/img/user.png" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <h2 th:text="${appUser.first_name}"></h2> <h2 th:text="${appUser.sur_name}"></h2>
                    </div>
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i> <i th:text="${appUser.userName}"></i></p >
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i> <i th:text="${appUser.email}"></i></p>
                    <br>
                </div>
            </div><br>
            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-10 w3-xlarge"><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-teal"></i>Születési hely, idő</h2>
                <div class="w3-container">
                    <p th:text="${appUser.birth_place}"></p>
                    <p th:text="${appUser.birth_date}"></p>
                </div>
                <h2 class="w3-text-grey w3-padding-10 w3-xlarge"><i class="fa fa-phone-square fa-fw w3-margin-right w3-large w3-text-teal"></i>Telefonszám</h2>
                <div class="w3-container">
                    <p th:text="${appUser.phone}"></p>
                </div>
                <h2 class="w3-text-grey w3-padding-10 w3-xlarge"><i class="fa fa-globe fa-fw w3-margin-right w3-large w3-text-teal"></i>Állampolgárság</h2>
                <div class="w3-container">
                    <p th:text="${appUser.nationality}"></p>
                </div>
                <h2 class="w3-text-grey w3-padding-10 w3-xlarge"><i class="fa fa-building fa-fw w3-margin-right w3-large w3-text-teal"></i>Tartózkodási hely</h2>
                <div class="w3-container">
                    <p th:text="${appUser.address}"></p>
                </div>
                <h2 class="w3-text-grey w3-padding-10 w3-xlarge"><i class="fa fa-info-circle fa-fw w3-margin-right w3-large w3-text-teal"></i>Leírás</h2>
                <div class="w3-container">
                    <p th:text="${appUser.introduction}"></p>
                </div>
                <h2 sec:authorize="hasRole('ROLE_USER')" class="w3-text-grey w3-padding-10 w3-xlarge"><i class="fa fa-info-circle fa-fw w3-margin-right w3-large w3-text-teal"></i>Jelentkezések</h2>
                <div sec:authorize="hasRole('ROLE_USER')" class="w3-container">
                    <p><a th:href="@{/jobs/{id}(id=${job?.id})}" th:text="${job?.scope} ?: 'Nincs jelentkezésed!'"></a></p>
                </div>
            </div>
            <!-- End Right Column -->
        </div>
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
</div>
</body>
</html>
